name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build_test_pack:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build (Release)
        run: dotnet build -c Release --no-restore

      - name: Test (Release)
        run: dotnet test -c Release --no-build

      - name: Pack (Release)
        run: dotnet pack src/TinyDispatcher/TinyDispatcher.csproj -c Release --no-build -o ./artifacts

      - name: Upload nupkgs
        uses: actions/upload-artifact@v4
        with:
          name: nupkgs
          path: ./artifacts/*.nupkg
